
body{
    background-size:500px 500px;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url("/Resources/images/coffeeBackground5.jpg");
    background-color: #684C34;

}


table {
    border-collapse: collapse;
    width: 100%;
}